%x{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom: 0;
	margin:auto;

}
.anc{
	display:block;
	height:40px;
	width:40px;
	position: absolute;
	right:0;
	bottom:30px;
	left:0;
	margin:auto;
	z-index: 100;
	img{
		height:100%;
		width:100%;
	}
}
*{
	padding:0;
	margin:0;
	list-style: none;

}
a{
	text-decoration: none;
	color:#000;
}
@media screen and(max-width:500px){
	.anc{
		display:none;
	}

}
#section1{
			background: url(../img/cheng.jpg) no-repeat;
		background-size: 100%;
	.page1{
		height:100%;
		width:100%;

		img{
			height:100%;
			width: 100%;
		}
		.pop{
			height:200px;
			width:200px;
			background: url(../img/logo.jpg) no-repeat;
			background-size: 100%;
			border-radius: 50%;
			@extend %x;
		}
		.circle{
			height:80px;
			width:80px;
			border-radius: 50%;
			background: #fff;
			position: absolute;
			margin:auto;
			line-height: 80px;
			text-align: center;
			transition: all .8s ease-in-out;
			&:hover{
				border:3px solid #2F70B0;
				box-sizing: border-box;
			}
		}


		.xio1{
			left:0;
			right:0;
			top:100px;
		}
		.xio2{
			left:0;
			right:0;
			bottom:100px;
		}
		.xio3{
			left:400px;
			bottom:0;
			top:0;
		}
		.xio4{
			bottom:0;
			right:400px;
			top:0;
		}

	}

}

@media screen and(max-width:1200px){
#section2{
	min-width:1200px;
	background-size: 200%;
}

	#section3{
		min-width:1200px;
		overflow: hidden;
		.person{
			max-width:1200px;
			.jineng{
				max-width:1200px;
				%ac{
					position: absolute;
					top:0;
					bottom: 0;
					margin:auto;
				}
				.box{
					height:80px;
					width:80px;
					img{
						height:100%;
						width:100%;
					}
				}
				.box1{
						@extend %ac;
						left: 250px;
				}
								.box2{
						@extend %ac;
						left: 350px;
				}
								.box3{
						@extend %ac;
						left: 450px;
				}
										.box4{
						@extend %ac;
						left: 550px;
				}
										.box5{
						@extend %ac;
						left: 650px;
				}
										.box6{
						@extend %ac;
						left: 750px;
				}
										.box7{
						@extend %ac;
						left: 850px;
				}
			}
		}
		
	}

	#section1{


 background-size: 250%;
		.page1{
			max-width:1200px;
      
			.pop{
				height:160px;
				width:160px;
				border-radius: 50%;
				position: absolute;
				left:0;
				top:0;
				right:0;
				bottom: 0;
				margin:auto;
				z-index: 1;

			}
			.xio1{
				transform: translateX(-100px);
				z-index: 200;
			}
			.xio2{
				transform: translateX(100px);
				z-index: 200;
			}
			.xio3{
				transform: translateY(100px);
				z-index: 200;
			}
			.xio4{
				transform: translateY(-100px);
				z-index: 200;
			}
			.circle{
				height:80px;
				line-height: 80px;
				text-align: center;
				width:80px;
				border-radius: 50%;
				position: absolute;
				left:0;
				top:0;
				right:0;
				bottom: 0;
				margin:auto;
				font-weight: bold;
				color:#282828;
	

			}




		}
	}

}

@media screen and(max-width:500px){

	#section1{
		background-size: 400%;
		.page1{
			min-width:500px;

			.pop{
				height:120px;
				width:120px;
				border-radius: 50%;
				transform: translateY(-150px);


			}
			.circle
			{
				height:80px;
				line-height: 80px;
				text-align: center;
				width:80px;
				border-radius: 50%;
				position: absolute;
				transition: all 1s ease-in-out both;
			}
	
			.xio1{
				transform: translate(-120px,30px);
			}
			.xio2{
				transform: translate(-40px,30px);
				}	.xio3{
					transform: translate(40px,30px);
					}	.xio4{
						transform: translate(120px,30px);
					}



				}
			}

		}

		#section2{
				background:url(../img/12.jpg) no-repeat;
	    background-size: 100%;
				height:100%;
				width: 100%;
			.op{}

			.a{
				height:438px;
				width:650px;
				font-size: 40px;
				position: absolute;
				top:0;
				bottom:0;
				left: 0;
				right:0;
				margin:auto;
				overflow: hidden;
				background: url(../img/diannao.png) no-repeat;
				background-position: 100%;
				.tx{
					height:281px;
					width:494px;
					padding:21px 0 0 64px;
					position: relative;
					overflow: hidden;
				}
	/*			.c{
					position: absolute;
					height:281px;
					background: blue;
					width:auto;
					position: absolute;
					left:0;
					right: 0;
					top:0;
					bottom:0;
					margin:auto;
				}*/


				.b{
					height:281px;
					width:494px;
					/*padding:21px 0 0 64px;*/
					/*padding:20px 204px 116px 97px;*/
					img{
						height:100%;
						width: 100%
					}

					a{color:#ccc;
						background:#000;
						opacity: 0.5;
 						/*display:none;*/
						position: absolute;
						left:0;
						right:0;
						bottom:-330px;
						margin:auto;
						line-height: 30px;
						text-align: center;
						transition: all 1s ease;
						line-height: 350px;
						span{
							color:#fff;
							opacity: 1;
							font-weight: bold;
						}
					}
					a:hover{
						transform: translateY(-330px);
					}
			
				

				}



			}
			.aa{
				height:150px;
				width:150px;
				display:none;
				position: absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				margin:auto;
			}
           .pa{
           	font-size: 24px;
           position: absolute;
           top:0;
           left:0;
           right:0;
           bottom:0;
           margin:auto;
           }
			.ba{
				height:150px;
				font-weight: bold;
				width:150px;
				background:#7CE0F6;
                line-height: 150px;
                text-align: center;				
			}
		}

@media screen and(max-width:500px){

			#section2{	min-width: 500px;
				
					background-size: 400%;
				.op{
				}
				.aa{
					max-width: 500px;
					display: block;
				}
				.a{
					display:none;
				}
			}

		}

#section3{

	        overflow: hidden;
			color:#888B90;
		
			.head{
				color:#2B2B2B;
				position: absolute;
				top:0;
				left:0;
				right:0;
				margin:auto;
				height:100px;
				display:inline-block;
				text-align: center;
				line-height: 100px;
				font-size: 40px;
				font-weight: bold;
			}
			.xian{
				height:1px;
				width:250px;
				position: absolute;
				top:100px;
				left:0;
				right:0;
				margin:auto;
				background:#2B2B2B;

			}
			.name{
				width:250px;
				text-align: center;
				position: absolute;
				top:150px;
				left:0;
				right:0;
				margin:auto;
			}
			.sex{
				width:250px;
				text-align: center;
				position: absolute;
				top:180px;
				left:0;
				right:0;
				margin:auto;
			}
			.duan{
				height:80px;
				width:600px; 	
				position: absolute;
				top:230px;
				font-size: 14px;
				left:0;
				right:0;
				margin:auto;
				 text-indent:28px;
				line-height: 1.5rem;

			}
			.jineng{
				position: absolute;
				top:350px;
				left:0;
				right:0;
				margin:auto;
				height:330px;
				background:#172737;
				h1{
					color:#FFFFF2;
					position: absolute;
					top:0;
					left:0;
					right:0;
					margin:auto;
					height:330px;
					height:100px;
					display:inline-block;
					text-align: center;
					line-height: 100px;
					font-size: 40px;
					font-weight: bold;
				}
				%ab{
					position: absolute;
					top:0;
					bottom: 0;
					margin:auto;
				}
				.box{
					height:90px;
					width:90px;
					img{
						height:100%;
						width:100%;
					}
				}

				.box1{
					left:70px;
					@extend %ab;
				}
				.box2{
					left:240px;
					@extend %ab;
				}
				.box3{
					left:410px;
					@extend %ab;
				}
				.box4{
					left:580px;
					@extend %ab;
				}
				.box5{
					left:750px;
					@extend %ab;
				}
				.box6{
					left:920px;
					@extend %ab;
				}
				.box7{
					left:1090px;
					@extend %ab;
				} 


			}
		}

@media screen and(max-width:500px){
			#section3{
				min-width:500px;
           p.duan{
          text-indent:28px;
           	max-width:400px;
           top:200px;
           }
           	.jineng h1{
            font-size: 30px;
			}
			
			.person{
				max-width:500px;
			
			.head{
				font-size: 24px;
			   }
						.jineng{
				%d{
					position: absolute;
				}
				.box{
					height:50px;
					width:50px;
					img{
						height:100%;
						width:100%;
					}
				}
				.box1{
					left:30px;
					top:-50px;
				}
				.box2{
					left:155px;
					top:-50px;
				}
				.box3{
					left:280px;
					top:-50px;
				}
				.box4{
					top:-50px;
					left:405px;
				}
				.box5{
					left:30px;
					top:80px;
				}
				.box6{left:155px;
					top:80px;

				}
				.box7{left:280px;
					top:80px;

				}

			}


}
		}
	}



#section4{
	background:#33C1C9;
	height:100%;
	width:100%;
	.lianxi{
		height:540px;
		width:450px;
		position: absolute;
		left:0;
		top:0;
		right:0;
		margin:auto;
		bottom:0;
		border:2px solid #FFFFFF;
		.hl{text-align: center;
			width:150px;
			position: absolute;
			left:0;
			right:0;
			margin:auto;
			background:#fff;
			top:-19px;
			padding:5px 8px;
			border-radius: 12%;
		}
		.wo{
			height:30px;
			line-height: 30px;
			width:100%;
			text-align: center;
            font-size: 18px;

		}
		.wo:nth-child(2){
			margin-top:140px;
		}
		.me{
			color:#F27C2B;
			font-size: 14px;
			width:300px;
			height:40px;
			font-size: 30px;
			line-height: 40px;
			position: absolute;
			top:350px;
			text-align: center;
			left:0;
			right:0;
			margin:auto;
			background:#434852;
			border-bottom-right-radius: 30%;
			border-bottom-left-radius: 30%;
			cursor:pointer;
		}
		.me:hover .ta{
			width:300px;
				

		}
		.me:hover{color:#fff;}
		.ta{width:0;
			height:40px;
			font-size: 30px;
			line-height: 40px;
			position: absolute;
			top:0;
			text-align: center;
			left:0;
		 color:#434852;
			background:#000;
			opacity: 0.5;
			color:#fff;
			border-bottom-right-radius: 30%;
			border-bottom-left-radius: 30%;
			transition: all .8s ease;


		}
		
	}
}
@media screen and(max-width:1200px){
#section4{
	max-width:1200px;
	.lianxi{
		height:540px;
		width:460px;
		position: absolute;
		left:0;
		top:0;
		right:0;
		margin:auto;
		bottom:0;
		border:1px solid #FFFFFF;
		.hl{
			text-align: center;
			width:100px;
			font-size: 24px;
			position: absolute;
			left:0;
			right:0;
			margin:auto;
			background:#fff;
			top:5px;
			

		}


	}

}

		}

@media screen and(max-width:500px){
#section4{
	max-width:500px;
	.lianxi{
		height:400px;
		width:300px;
		position: absolute;
		left:0;
		top:0;
		right:0;
		margin:auto;
		bottom:0;
		border:1px solid #FFFFFF;
		.hl{
			text-align: center;
			width:100px;
			font-size: 18px;
			position: absolute;
			left:0;
			right:0;
			margin:auto;
			background:#fff;
			top:5px;
			

		}


	}

}

		}